<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MongoScraper</a>
    </div>

    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
        <li><a class="btn btn-danger scrape-new">Scrape New Articles</a></li>
    </ul>
    </div>
    </nav>
    <div class="jumbotron text-center">
        <div class="overlay"></div>

        <div class="background-image"></div>

        <div class="caption">
            <h1>Mongo Scraper</h1>
            <p>New York Times Edition</p>
        </div>
    </div>

    <div class="container-fluid article-container"></div>

    {{!-- <footer class="footer">
        <div calss="container">
            <p>Mongo Scraper</p>
        </div>
    </footer> --}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="application/javascript">
$(document).ready(function() {
    var articleContainer = $(".article-container");
    $(document).on("click", ".btn.save", handleArticleSave);
    $(document).on("click", ".scrape-new", handleArticleScrape);

    {{!-- initPage(); --}}

    function initPage() {
        articleContainer.empty();
        $.get("/api/headlines?saved=false")
            .then(function(data){
                if (data && data.length) {
                    renderArticles(data);
                }
                else {
                    renderEmpty();
                }
            });

    }

    function renderArticles(articles) {
        var articlePanels = [];
        for (var i = 0; i < articles.length; i++) {
            articlePanels.push(createPanel(articles[i]));
        }
        articleContainer.append(articlPanels);
    }

    function createPanel(article){
        var panel = 
        $(["<div class='panel panel-default'>",
            "<div class='panel-heading'>",
            "<h3>",
            article.headline,
            "<a class='btn btn-success save'>",
            "Save Article",
            "</a></h3></div>",
            ",div class='panel-body'>",
            article.summary,
            "</div></div>"
            ].join(""));

            panel.data("_id", article._id);
            return panel;

    }
    function renderEmpty() {
        var emptyAlert = 
        $(["<div class='alert alert-warning text-center'>",
            "<h4> No new articles </h4>",
            "<div class='panel panel-default'>",
            "<div class='panel-heading text-center'>",
            "<h3> What would you like to do? </h3>",
            "</div>",
            "div class='panel-body text-center'>",
            "<h4><a class='scrape-new'>Scrape for new articles?</a></h4>",
            "<h4><a href='/saved'>Your Saved Articles</a></h4>",
            "</div></div>"]. join(""));
            articleContainer.append(emptyAlert);
    }
    function handleArticleSave() {
        var articleToSave = $(this).parents(".panel").data();
        articleToSave.saved = true;

        $.ajax({
            mathod: "PATCH",
            url: "api/headlines",
            data: articleToSave
        })
        .then(function(data){
            if (data.ok){
                initPage();
            }
        });
    }

    function handleArticleScrape() {
        $.get("/api/fetch")
            .then(function(data){
                initPage();
                bootbox.alert("<h3 class='text-center m-top-80'>" + data.message + "</h3>" )
            })
    }
});
</script>
