    {{!-- <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <h2>Hacker News Scraper</h2>
            <button type="button" class="btn btn-primary" id="scrapeBtn"><a href="/scrape">News</a></button>
            <button type="button" class="btn btn-primary" id="savedBtn"><a href="/saved">Saved Articles</a></button>
        </div>
    </nav>
  
    {{#each articles}}
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <p>{title}</p>
                <p>{url}</p>
                <p>{time}</p>
                <p>{author}</p>
                <button type="button" class="btn btn-info" id="editBtn"><a href="/edit">edit</a></button>
            </li>
        </ul>
    </div>
    {{/each}} --}}